{% extends '../base.html' %}

{% load django_bootstrap5 %}

{% block title %}Список задач{% endblock %}

{% block siderbar %}
    <form method="get">
        {% csrf_token %}
        {{ fiter.form.as_p }}
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
{% endblock %}

{% block content %}
    <h1>Доски</h1>
    <div class="row">
        {% for board in boards %}
            <div class="board_info">
                <h5>{{ board.name }}</h5>
                <a href="{% url 'board_detail' board.pk %}">Детали</a>
            </div>
            <hr>
        {% endfor %}
        <hr>
        <a href="{% url 'board_create' %}">Добавить доску</a>
    </div>
{% endblock %}